@*
//--------------------------------------------------------------------
//   Date                 : November, 2023
//    Copyright: (C)2023 by AHT-GROUP, GmbH/SOFTWEL (P) Ltd
//    Email                : support at softwel dot com dot np
// --------------------------------------------------------------------

// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License (GPL) as published by
// the Free Software Foundation (https://www.fsf.org/); either version 2
// of the License, or (at your option) any later version.
*@
@using IntegratedMobileApp.Extensions;
@{
	var userPMWD = User.GetLocality();
	var userMail = User.GetEmail();
	var userName = User.GetFullName();
}

<div class="p-2">
	@if (User.IsGHO())
	{
		<div class="row justify-content-around">
			<div class="col-sm-4 rounded rounded-3 border border-1">
				<div class="row mt-3 mb-3">
					<span class="fw-bolder">Post grievance to the departments of your municipality or ward</span>
				</div>
				<div class="row mb-3">
					<div class="d-flex justify-content-between">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioMuncipality" id="radioMuncipality" checked onchange="OnRadioMunChange()">
							<label class="form-check-label" for="radioMuncipality">
								Municipality
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioWard" id="radioWard" onchange="OnRadioWardChange()">
							<label class="form-check-label" for="radioWard">
								Ward
							</label>
						</div>
					</div>
				</div>
				<form id="PostGrievanceForm" asp-action="PostGrievance">
					<div class="row mb-3">
						<label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
						<div class="col-sm-10">
							<select id="cmbDepartment" name="deptCode" class="form-select">
								<option disabled selected value="00">Select Department</option>
								<option value="01">Mayor</option>
								<option value="02">Deputy Mayor</option>
								<option value="03">Administration Division</option>
								<option value="04">Urban Development</option>
								<option value="05">Infrastructure Division</option>
								<option value="06">Health Division</option>
								<option value="07">Social Development</option>
								<option value="08">Planning and Budgeting</option>
								<option value="09">IT Division</option>
								<option value="10">Education Division</option>
								<option value="11">Youth and Sports Division</option>
								<option value="12">Economic Development Division</option>
								<option value="13">Financial Administration Division</option>
								<option value="14">Internal Audit Division</option>
							</select>
						</div>
						<input hidden id="wardCode" name="wardCode" value="00" />
					</div>
					<div class="row mb-3" style="padding:12px">
						<textarea class="form-control" id="grievTxt" name="grievTxt" style="height:150px" aria-label="Grievance"></textarea>
					</div>
					<div class="input-group mb-3">
						<input type="text"
						   class="form-control"
						   id="UploadFile"
						   placeholder="UploadFile"
						   aria-label="UploadFile"
						   aria-describedby="UploadFile">
						<input type="file" id="BrowseFile" name="UploadFile" hidden onchange="OnAddFileButtonClick()" />
						<label for="BrowseFile" class="btn btn-outline-secondary">Add File</label>
					</div>
					<div class="row mb-3">
						<div class="col-sm-10">
							<div id="Upload_PgBar" class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
								<div id="Upload_PgBar_label" class="progress-bar" style="width: 0%">0%</div>
							</div>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-primary w-100 m-auto" onclick="PostGriev()">Post</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
	else
	{
		<h4 style="color:red">Only Grievance Handling Officer can post grievances.</h4>		
	}
</div>

<script>
			
	function OnRadioWardChange() {
		var radioWard = document.getElementById("radioWard");
		var radioMun = document.getElementById("radioMuncipality");
		var cmbDept = document.getElementById("cmbDepartment");
		var innerHtmlTxt = `<option value="00" disabled selected>Select Department</option>`;
		if (radioWard.checked) {
			var uPMWD = @Json.Serialize(userPMWD);
			var wc = uPMWD.substring(3, 5);
			$('#wardCode').val(wc);
			radioMun.checked = false;
			innerHtmlTxt += `<option value="01">Chairperson</option>
							 <option value="02">Elected Member</option>
							 <option value="03">Ward Secretary</option>
							 <option value="04">Ward Staff</option>`;
		}
		else {
			radioMun.checked = true;
		}
		cmbDept.innerHTML = innerHtmlTxt;
	}

	function OnRadioMunChange() {
		var radioWard = document.getElementById("radioWard");
		var radioMun = document.getElementById("radioMuncipality");
		var cmbDept = document.getElementById("cmbDepartment");
		var innerHtmlTxt = `<option value="00" disabled selected>Select Department</option>`;
		if(radioMun.checked)
		{
			$("#wardCode").val("00");
			radioWard.checked = false;
			innerHtmlTxt += `<option value="01">Mayor</option>
								<option value="02">Deputy Mayor</option>
								<option value="03">Administration Division</option>
								<option value="04">Urban Development</option>
								<option value="05">Infrastructure Division</option>
								<option value="06">Health Division</option>
								<option value="07">Social Development</option>
								<option value="08">Planning and Budgeting</option>
								<option value="09">IT Division</option>
								<option value="10">Education Division</option>
								<option value="11">Youth and Sports Division</option>
								<option value="12">Economic Development Division</option>
								<option value="13">Financial Administration Division</option>
								<option value="14">Internal Audit Division</option>`;
		}
		else
		{
			radioWard.checked = true;
		}
		cmbDept.innerHTML = innerHtmlTxt;
	}

	function OnAddFileButtonClick() {
		$('#UploadFile').val($('#BrowseFile').val().split('\\').pop());
	}

	var uploadFile = null;
	var fileInput = document.getElementById("BrowseFile");
	fileInput.addEventListener("change", function (event) {
		uploadFile = event.target.files[0]
	});

	function PostGriev() {		
		var uPMWD = @Json.Serialize(userPMWD);
		var uMail = @Json.Serialize(userMail);
		var uName = @Json.Serialize(userName);
		var deptCode = $('#cmbDepartment').val();
		var wardCode = $('#wardCode').val();
		var grievTxt = $('#grievTxt').val();
		if(deptCode == null || deptCode == "00" || grievTxt == null || grievTxt == ""){
			alert("Invalid Entry!");
			return;
		}
		if (uploadFile != null) {
			var upload = new tus.Upload(uploadFile, {
				endpoint: '/Uploads',
				retryDelays: [0, 3000, 5000, 10000, 20000],
				metadata: {
					task: "PostGrievance", 
					userPMWD: uPMWD,
					userMail: uMail,
					userName: uName,
					grievText: grievTxt,
					wardCode: wardCode,
					departmentCode: deptCode,
					filename: uploadFile.name
				},
				onError: function (error) {
					console.log("Failed because: " + error)
				},
				onProgress: function (bytesUploaded, bytesTotal) {
					var percentage = (bytesUploaded / bytesTotal * 100).toFixed(2)
					$("#Upload_PgBar").attr("aria-valuenow", percentage);
					$("#Upload_PgBar_label").css("width", percentage + "%");
					$("#Upload_PgBar_label").html(percentage + "%");
					console.log(bytesUploaded, bytesTotal, percentage + "%")
				},
				onSuccess: function () {
					debugger;
					location.reload();
					console.log("Download %s from %s", upload.file.name, upload.url)
				}
			})

			if (uploadFile.size > 5 * 1024 * 1024) {
				upload.options.chunkSize = 5 * 1024 * 1024;
			}
			else {
				upload.options.chunkSize = uploadFile.size;
			}

			// Check if there are any previous uploads to continue.
			upload.findPreviousUploads().then(function (previousUploads) {
				// Found previous uploads so we select the first one.
				if (previousUploads.length) {
					upload.resumeFromPreviousUpload(previousUploads[0])
				}
				// Start the upload
				upload.start()
			})
		}
		else {
			$('#PostGrievanceForm').submit();
		}
	}

</script>